        <div class="well well-sm container-fluid">
            <div class="row-fluid" id="planHeader"> <!-- main header -->

                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-1">Plan Name:</div>
                        <div class="col-md-11"><%- plan.planName %></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Variant:</div>
                        <div class="col-md-11"><%- variant %></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Plan ID:</div>
                        <div class="col-md-11"><%- plan._id %></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Description:</div>
                        <div class="col-md-11"><%- plan.description %></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Plan Version:</div>
                        <div class="col-md-11"><%- plan.version %></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Started:</div>
                        <div class="col-md-11"><%- plan.started %></div>
                    </div>

                    <% if (!public && FAPI_UI.currentUser && FAPI_UI.currentUser.isAdmin) { %>
                    <div class="row">
                        <div class="col-md-1">Test Owner:</div>
                        <div class="col-md-11">
                            <%= FAPI_UI.logTemplates.OWNER({owner: plan.owner}) %>
                        </div>
                    </div>
                    <% } %>

                    <% if (plan.certificationProfileName) { %>
                    <div class="row">
                        <div class="col-md-1">Certification profile:</div>
                        <div class="col-md-11"><%- plan.certificationProfileName %></div>
                    </div>
                    <% } %>

                    <% if (plan.summary) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="bgSummary bg-info"><%- plan.summary %></p>
                        </div>

                    </div>
                    <% } %>
                    <div class="row top10">
                        <div class="col-md-12 "><div class="disclaimerText"></div></div>
                    </div>
                </div>

                <div class="col-md-2">
                    <% if (!public) { %>
                        <button class="btn btn-default btn-block" id="showConfigBtn"><span class="glyphicon glyphicon-wrench"></span> View Config</button>
                        <a href="schedule-test.html?edit-plan=<%- plan._id %>" class="btn btn-default btn-block" title="Create a new test plan based on the configuration used in this one"><span class="glyphicon glyphicon-edit"></span> Edit configuration</a>
                    <% } %>
                    <% if (!public || plan.publish == "everything") { %>
                        <button class="btn btn-default btn-block" id="downloadAllBtn"><span class="glyphicon glyphicon-save-file"></span> Download All Logs</button>
                    <% } %>
                    <% if (!public) { %>
                        <% if (!plan.publish) { %>
                        <button class="btn btn-default btn-block" data-publish="summary"><span class="glyphicon glyphicon-book"></span> Publish summary</button>
                        <button class="btn btn-default btn-block" id="publishBtn"><span class="glyphicon glyphicon-book"></span> Publish everything</button>
                        <% } else { %>
                            <% if (FAPI_UI.currentUser.isAdmin) { %>
                        <button class="btn btn-default btn-block" id="unpublishBtn" data-publish=""><span class="glyphicon glyphicon-ban-circle"></span> Unpublish</button>
                            <% } %>
                        <a href="plan-detail.html?plan=<%- plan._id %>&public=true" class="btn btn-info btn-block"><span class="glyphicon glyphicon-book"></span> Public link</a>
                        <% } %>
                    <!--
                        <button class="btn btn-default btn-block" id="certificationOfConformanceTemplateBtn" title="Prepare/Download Certification of Conformance PDF Template"><span class="glyphicon glyphicon-download-alt"></span> Cert. of Conformance</button>
                    -->
                        <button class="btn btn-default btn-block" id="certificationPackageBtn" title="Prepare certification submission package"><span class="glyphicon glyphicon-save-file"></span> Certification Package</button>
                    <% } %>
                    <% if (plan.immutable && FAPI_UI.currentUser && FAPI_UI.currentUser.isAdmin) { %>
                    <button class="btn btn-default btn-block" id="removeImmutableFlagBtn" data-immutable="false"><span class="glyphicon glyphicon-edit"></span> Make Plan Mutable</button>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="planItems"> <!-- container for plan results -->
            <% _.each(plan.modules, function(module) { %>
                <% var lastInstance = module.instances.pop(); %>
            <div class="row logItem" data-instance-id="<%- lastInstance %>">
                <div class="col-md-2 testStatusAndResult">

                </div>
                <div class="col-md-2">
                    <% if (!public && !plan.immutable) { %>
                    <button class="btn btn-default btn-block startBtn" data-module="<%- module.testModule %>" data-variant="<%- JSON.stringify(module.variant) %>"><span class="glyphicon glyphicon-play"></span> Run Test</button>
                    <% } %>
					<a class="btn btn-default btn-block collapse viewBtn" href="log-detail.html?log=<%- encodeURIComponent(lastInstance) %><%- public ? '&public=true' : '' %>"><span class="glyphicon glyphicon-file"></span> View Logs</a>
                    <% if (!public || plan.publish == "everything") { %>
                    <button class="btn btn-default btn-block collapse downloadBtn"><span class="glyphicon glyphicon-save-file"></span> Download Logs</button>
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">Test Name:</div>
                        <div class="col-md-10"><%- module.testModule %><sup><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="<%- module.testSummary ? module.testSummary : '' %>" data-placement="right"></span></sup></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Variant:</div>
                        <div class="col-md-10"><%- FAPI_UI.formatVariant(module.variant) %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Test ID:</div>
                        <div class="col-md-10"><%- lastInstance ? lastInstance : 'NONE' %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Test Version:</div>
                        <div class="col-md-10 testVersion"></div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
